
@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Task</h2>

<p>Добрый день!
<p>В связи с ростом нашей компании, в рязанском офисе вновь открыта вакансия программист .NET
<p>Если для вас поиск работы еще актуален, просим выполнить тестовое задание.
<p>Текст задания – во вложении.
<p>Оно предусматривает также знание таких клиентских технологий, как JavaScript/jQuery, AJAX и т.д.
<p>Можете пропустить всё, что начинается со слов “желательно” или “будет плюсом”.
<p>Сделайте то, что понятно для вас. Цель выполнения задания – показать имеющийся набор знаний. Необязательно, чтобы по итогам получился весь требуемый функционал.
<hr />
<h2>Server Side</h2>
<p>На Server Side находиться объект с данными. Формат данных :   id, date, произвольный набор символов.
<p>Данные можно забить вручную в код программы, но желательно предусмотреть в архитектуре возможность быстрого добавления новых вариантов заполнения данными (из файла, из бд).
<p>Нужно сделать Handler, который будет возвращать данные по Web запросу.
<p>Параметры web запроса : начальная дата, конечная дата. Ответ должен вернуть все данные, за запрошенный интервал времени. Данные на клиент должны посылаться в XML или в JSON. (плюсом будет поддержка обоих форматов с возможностью указать необходимый формат в web-request’e)
<h2>Client Side</h2>
<p>ASP.Net страница. На ней находиться форма. В форме пользователь указывает : начальную дату, конечную дату, шрифт и цвет.
<p>Далее, через AJAX запрос необходимо получить данные с Server Side, и отобразить данные на странице. (плюсом будет создание красивого диалога с помощью jQuery)
<p>Необходимо использовать при создании таблицы тот шрифт и цвет, что был выбран в форме.
<p>Использовать  cookie для сохранения параметров ввода в форму. При следующем заходе на страницу использовать параметры из куков, если есть. (как вариант использовать один из механизмов ASP.NET для этого)
